/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
   font-family: 'FjallaOne-Regular';
   src: url(../fonts/FjallaOne-Regular.ttf)format('truetype');
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}

/*-- Slider Part starts Here --*/
#slider3,#slider4  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 61%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 62px;
	width: 45px;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}

#slider3-pager a,#slider4-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span{
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 120%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
top: 73%;
left:46%;
}
.callbacks_tabs li{
  margin-left: 5px;
	display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}

.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(315deg);
  display: inline-block;
  background: #fff;
}
.callbacks_here a:after{
	background: #C5A614;	
}
a.callbacks_nav.callbacks2_nav.prev {
background: transparent url("../images/2.png") no-repeat left top;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.next{
background: transparent url("../images/2.png") no-repeat -29px 0px;
width:23px;
height:23px;
}
a.callbacks_nav.callbacks2_nav.prev {
left: 86% !important;
top: 9%;
}
a.callbacks_nav.callbacks2_nav.next {
right: 0% !important;
top: 9%;
}
/*-- Slider part Ends Here --*/
/*--menu--*/
button#showRightPush {
  border: none;
  background: rgba(255, 255, 255, 0.21);
  padding: 8px;
  outline: none;
  position: fixed;
  z-index: 1;
}
nav#cbp-spmenu-s2 {
  background:rgba(84, 84, 84, 1);
  text-align: center;
}
nav#cbp-spmenu-s2 a {
	color: #fff;
	display: block;
	padding: 20px 25px;
	font-size: 18px;
	font-weight: 400;
	border: none;
	margin: 0;
	transition: .5s all;
	border-bottom: 1px dotted rgb(118, 118, 118);
	text-decoration: none;
}
nav#cbp-spmenu-s2 a:hover {
	text-decoration: none;
	color:#D3564A;
	background: none;
}
nav#cbp-spmenu-s2 a.active {
	color: #D3564A;
}
nav#cbp-spmenu-s2 h3 {
  background: #D3564A;
  color: #fff;
  font-size: 3em;
}

/*-- //Slide toogle menu --*/
/*-- banner --*/
.cbp-spmenu{
overflow-y: scroll;
}
.banner{
background: url(../img/arriere1.jpg) no-repeat;
position:fixed; 
/*z-index:1; */
width:100%; height:100%;
-webkit-background-size: cover; /* pour Chrome et Safari */
-moz-background-size: cover; /* pour Firefox */
-o-background-size: cover; /* pour Opera */
background-size: cover; /* version standardisée */
}
.logo{
padding: 32px 0 0 32px;
}
.logo a{
font-family: 'FjallaOne-Regular';
color:#37B7E5;
text-decoration:none;
font-size:50px;
}
.banner-info {
  margin-top: 65px;
}
.banner-text{
  width: 47%;
  margin: 0 auto;
  }
.banner-text h5 {
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  font-size: 49px;
  font-family: 'FjallaOne-Regular';
}
.banner-text p {
  line-height: 2em;
  font-size: 14px;
  color: #fff;
  text-align: center;
  width: 57%;
  margin: 2px auto 0 auto;
}
.banner-text h3 span {
  font-size: 46px;
  display: block;
}
/*-- //banner --*/

@media (max-width: 1080px){
	.banner-text h5 {
	  font-size: 30px;
	  }
	.logo a {
	  font-size: 40px;
	} 
	.banner-text h3 span {
	  font-size: 35px;
	  }
	.banner-text p {
	  font-size: 13px;
	  width: 68%;
	}
	.banner {
	  min-height: 680px;
	}
}

@media (max-width: 991px){
	.banner {
	  min-height: 576px;
	
	.banner-text h3 {
	  font-size: 56px;
	}
	.banner-text p {
	  width: 88%;
	}
	
}
@media (max-width: 640px){
	.logo a {
	  font-size: 32px;
	}
	.logo {
	  padding: 17px 0 0 17px;
	}
	.banner-text h3 {
	  font-size: 32px;
	}
	.banner-text {
	  width: 66%;
	}
	.banner-text h3 span {
	  font-size: 21px;
	  margin: 10px 0 9px 0;
	}
	
	.banner {
	  min-height: 395px;
	}
}
@media (max-width: 480px){
	.banner-text {
	  width: 100%;
	}
	.banner {
	  min-height: 370px;
	}
}
@media (max-width: 414px){
	.
	.banner-text h3 {
	  font-size: 26px;
	}
	.banner-text h3 span {
	  font-size: 17px;
	  margin: 6px 0 5px 0;
	}
	.banner-text {
	  width: 98%;
	}
	.logo {
	  padding: 9px 0 0 9px;
	}
}
@media (max-width: 320px){
	.logo {
	  padding: 7px 0 0 7px;
	}
	.banner-text h3 {
	  font-size: 22px;
	}
	.banner-text {
	  width: 97%;
	}
	.banner-text p {
	  line-height: 1.8em;
	}
	.banner-text h3 span {
	  font-size: 15px;
	  margin: 4px 0 2px 0;
	}
	.banner {
	  min-height: 340px;
	}
}
/*--//responsive media queries--*/